# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ===============================
# Virtual Environment
# ===============================
.venv/
venv/

# ===============================
# Environment Variables
# ===============================
.env

# ===============================
# IDE / Editor
# ===============================
.idea/
.vscode/

# ===============================
# OS
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Test / Coverage
# ===============================
.coverage
htmlcov/
.pytest_cache/

# ===============================
# Build / Distribution
# ===============================
dist/
build/
*.egg-info/

# ===============================
# Logs
# ===============================
*.log

# ===============================
# Archives
# ===============================
*.zip
*.tar
*.tar.gz
